@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.terms {
  &__text-container {
    overflow: scroll;
    height: calc(70rem - 15rem);
    margin-top: 4rem;
    padding-right: 0.5rem;

    @include responsive(phone) {
      height: calc(95vh - 20rem);
    }
  }

  &__title {
    font-weight: 600;
  }

  &__condition-block {
    @include display-flex(flex-start, flex-start, row, inherit);
    gap: 7rem;

    @include responsive(phone) {
      @include display-flex(flex-start, flex-start, column, inherit);
      gap: 3rem;
    }
  }
}

.line {
  @include display-flex();

  span {
    border-bottom: 0.5px solid $color-gray-footer;
    width: 88%;
  }
}
