@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.reservations {
  position: fixed;
  right: -100vw;
  left: auto;
  top: 2rem;
  bottom: 2rem;
  width: 50rem;
  border-radius: 1rem;
  background-color: $color-white;
  transition: ease-in-out 1s;
  -webkit-transition: ease-in-out 0.8s;

  &--active {
    right: 2rem;
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__header {
    @include display-flex(space-between);
    width: 100%;
    top: 2rem;
    background-color: $color-beige-light;
    padding: 1rem 2rem 1rem 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: $color-white;
  }

  &__title {
    color: $color-white;
  }

  &__sub-title {
    color: $color-gray;
  }

  &__body {
    padding: 1rem 2.9rem 1rem 3rem;
    overflow-y: scroll;
    height: 78.5vh;
    color: $color-gray;
  }

  &__footer {
    padding: 1.5rem 3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 -4px 13px 2px hsla(0, 0%, 69%, 0.35);
    @include button-reservations();

    button {
      width: 100%;
      padding: 1.25rem;
    }
  }
}
