@mixin display-flex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: row,
  $flex-wrap: wrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

//* PARENT POSITION RELATIVE REQUIRED
@mixin underline-effect(
  $color: $color-white,
  $height: 0.2rem,
  $bottom: 0.8rem
) {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: $height;
    bottom: $bottom;
    left: 0;
    background-color: $color;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
