@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.guests {
  &__card {
    @include display-flex(space-between);
    width: 100%;
    border-radius: 0.5rem;
    background-color: $color-gray-medium-light;
    min-height: 7.1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__text-title {
    font-weight: 600;
    margin-bottom: 0.4rem;

    span {
      font-weight: 400;
    }
  }

  &__text-subtitle {
    font-size: 1.3rem;
    line-height: 2.25rem;
    color: $color-gray;

    @include responsive(phone-small) {
      margin-bottom: 0.25rem;
    }
  }

  &__counter {
    @include display-flex();
    gap: 2.2rem;
  }

  &__count {
    font-size: $font-size-14;
    font-weight: 600;
    width: 1rem;
  }

  &__button-submit-container {
    margin-top: 2rem;
    text-align: end;
    margin-right: 0;
  }

  &__card-info {
    border-radius: 0.5rem;
    list-style: none;
    position: relative;

    &--whatsapp {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1.5rem;
      border: 1px solid $color-gray;
      font-size: $font-size-12;
      line-height: 1.7rem;
      text-decoration: none;
      color: black;

      span {
        color: green;
        font-weight: 600;
      }
    }
  }
}

button.guests__button {
  font-size: $font-size-16;
  background-color: $color-beige-light;
  color: $color-white;
  padding: 0.4rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: darken($color-beige-light, 15%);
  }
}
