@import "src/styles/abstracts/variables";
@import "src/styles/abstracts/mixins";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  border-radius: 1rem;
  width: 80%;
  max-width: 124rem;
  max-height: 70rem;
  height: 70rem;
  padding: 4rem 5rem;
  overflow: hidden;

  @include responsive(phone) {
    width: 95%;
    height: 95%;
    max-height: 95%;
    padding: 4rem 3rem;
  }
}

button.modal__button {
  position: absolute;
  font-size: $font-size-22;
  top: 1rem;
  right: 1rem;
}
