@import "src/styles/abstracts/variables";
@import "src/styles/abstracts/mixins";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  border-radius: 2rem;
  width: 70%;
  max-width: 120rem;
  max-height: 70rem;
  height: auto;
  padding: 6rem;
  overflow: scroll;

  @include responsive(phone) {
    width: 90%;
    max-height: 95%;
    padding: 6rem 4rem;
  }

  &::-webkit-scrollbar-track {
    margin-top: 2rem;
  }

  &::-webkit-scrollbar-corner {
    margin-bottom: 2rem;
  }
}
