@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.services {
  &__card {
    width: 100%;
    border-radius: 0.5rem;
    background-color: $color-gray-medium-light;
    margin-bottom: 1rem;
    cursor: pointer;

    &--disabled {
      background-color: $color-gray-disabled;
    }
  }

  &__service {
    @include display-flex(space-between);
    min-height: 7.1rem;
  }

  &__text-title {
    font-weight: 600;
    margin-bottom: 0.4rem;
  }

  &__button-submit-container {
    @include button-reservations();
    text-align: end;
  }
}
