@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.carousel {
  position: relative;

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $color-white;
    font-size: $font-size-30;
    z-index: 1;

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__image-container {
    position: relative;
  }

  &__image {
    width: auto;
    height: 100%;
    max-height: 50rem;
    display: block;
  }
}
