@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.header {
  position: relative;

  &__image {
    object-fit: cover;
    object-position: center;
    height: 100vh;
  }

  &__title {
    @include display-flex();
    height: 100vh;
    position: relative;
  }
}
