@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.navbar {
  @include display-flex(space-between);
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  transition: all 0.3s;
  padding: 2rem 4rem;

  &__container {
    z-index: 2;

    @include responsive(phone) {
      width: 100%;
      @include display-flex(space-between);
    }
  }

  &__image {
    @include responsive(phone) {
      content: url("/images/logo-beige.png");
      width: 13.5rem;
      height: 3.6rem;
    }
  }

  &--sticky {
    background-color: $color-white;
    opacity: 0.98;
  }

  @include responsive(phone) {
    background-color: $color-white;
    padding: 1.5rem 2rem;
    opacity: 0.98;
  }
}

.menu {
  &__burger-container {
    display: none;
    cursor: pointer;

    @include responsive(phone) {
      @include display-flex(space-between, flex-end, column);
    }
  }

  &__burger-line {
    display: flex;
    width: 3.25rem;
    height: 0.2rem;
    margin-bottom: 0.5rem;
    background-color: $color-beige;
    -webkit-transition: 1s cubic-bezier(0.07, 0.95, 0, 1);
    transition: 1s cubic-bezier(0.07, 0.95, 0, 1);

    &--active {
      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }

  &__list {
    list-style: none;
    @include display-flex(flex-end);
    gap: 3rem;

    @include responsive(phone) {
      @include display-flex(center, center, column, inherit);
      gap: 2rem;
      position: fixed;
      background-color: $color-white;
      height: 100vh;
      left: -100vw;
      right: 100vw;
      top: 0;
      bottom: 0;
      transition: 0.8s cubic-bezier(0.2, 0.7, 0.1, 1);
      -webkit-transition: 0.8s cubic-bezier(0.2, 0.7, 0.1, 1);
    }

    &--active {
      @include responsive(phone) {
        left: 0;
        right: 0;
      }
    }
  }

  &__item {
    font-weight: 500;
    color: $color-white;

    &:not(:last-child) {
      position: relative;
      @include underline-effect();
      padding: 1.25rem 0;

      @include responsive(phone) {
        @include underline-effect($color-beige-dark);
      }
    }

    &:last-child {
      border: 0.2rem solid $color-white;
      transition: all 0.3s;
      padding: 1.25rem 1.5rem;

      @include responsive(phone) {
        padding: 1.25rem 0;
        border: none;
      }

      &:hover {
        background-color: $color-white;
        color: $color-beige-dark;
      }
    }

    &--sticky {
      color: $color-beige-dark;

      &:not(:last-child) {
        position: relative;
        @include underline-effect($color-beige-dark);
      }

      &:last-child {
        border: 0.2rem solid $color-beige-dark;
        transition: all 0.3s;

        &:hover {
          background-color: lighten($color-beige, 10%);
          color: $color-white;
          opacity: 1;
        }

        @include responsive(phone) {
          padding: 1.25rem 0;
          border: none;

          &:hover {
            background-color: transparent;
            color: $color-beige-dark;
            opacity: inherit;
          }
        }
      }
    }

    a {
        text-decoration: none;
        color: $color-white;
        
        @include responsive(phone) {
            color: $color-beige;
        }
    }
  }

  &__link-item {
    text-decoration: none;
    color: inherit;
  }
}
