@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.reservations-picker {
  &__sub-title {
    &--update {
      color: $color-gray;
      font-size: $font-size-13;
      letter-spacing: 0.08rem;
      font-weight: 400;
    }
  }
}
