@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.footer {
  background-color: $color-black-light;
  color: $color-gray-footer;

  &__list {
    @include display-flex();
    gap: 3rem;
  }

  &__list-item {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    font-size: $font-size-17;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $color-gray-footer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

    &:hover {
      color: darken($color-gray-footer, 20%);
      border-bottom-color: darken($color-gray-footer, 20%);
    }
  }
}
