@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.reservations-payment {
  @include display-flex(center, center, column, nowrap);
  gap: 3rem;

  &--success {
    height: calc(100vh - 58px - 2rem - 2rem);
    font-size: 4.5rem;
    padding: 0 2.9rem 0 3rem;
    text-align: center;
    line-height: 2.3rem;
    color: $color-gray;

    @include responsive(phone-small) {
      padding: 0 1.7rem;
      height: calc(100vh - 58px - 71px - 5.75rem);
    }
  }

  iframe {
    @include display-flex(center, center, column, nowrap);
    gap: 3rem;
    font-size: 4.5rem;
    overflow-y: scroll;
    height: calc(100vh - 58px - 2rem - 2rem);
    color: $color-gray;
    padding: 1rem 0 1rem 1rem;

    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

    @include responsive(phone-small) {
      height: calc(100vh - 58px - 5.75rem);
    }
  }
}
