body {
  font-family: "Montserrat", "Times New Roman", Times, serif;
}

.heading-primary {
  font-size: $font-size-25;
  color: $color-white;
  font-weight: 400;
}

.heading-secundary {
  font-size: $font-size-27;
  color: $color-gray;
  font-weight: 400;
  text-align: center;
}

.heading-terciary {
  font-size: $font-size-14;
  color: $color-gray;
  font-weight: 600;
}

.text-primary {
  font-size: $font-size-14;
  color: $color-gray;
  line-height: 2.25rem;
}

.navbar-list-item {
  font-size: $font-size-15;
  letter-spacing: 0.08rem;
  cursor: pointer;
}
