.u-padding-vertical-small {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-padding-top-small {
  padding-top: 2rem;
}

.u-padding-bottom-medium {
  padding-bottom: 3rem;
}

.u-padding-top-medium-large {
  padding-top: 3.5rem;
}

.u-padding-horizontal-large {
  padding-left: 4rem;
  padding-right: 4rem;
}

.u-padding-top-large {
  padding-top: 4rem;
}

.u-padding-top-extra-large {
  padding-top: 4.5rem;
}

.u-padding-vertical-large {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.u-padding-vertical-extra-large {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
