.u-padding-components {
  padding: 3rem 4rem;
}

.u-padding-vertical-20 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-padding-horizontal-30 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.u-padding-vertical-45 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
