.u-padding-vertical-small-extra {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.u-padding-small {
  padding: 2rem;
}

.u-padding-vertical-small {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-padding-horizontal-small {
  padding-right: 2rem;
  padding-left: 2rem;
}

.u-padding-top-small {
  padding-top: 2rem;
}

.u-padding-vertical-small-medium {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.u-padding-horizontal-small-medium {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.u-padding-top-medium {
  padding-top: 3rem;
}

.u-padding-top-medium-large {
  padding-top: 3.5rem;
}

.u-padding-top-large {
  padding-top: 4rem;
}

.u-padding-vertical-large {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.u-padding-vertical-large-extra {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include responsive(phone) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.u-padding-horizontal-huge {
  padding-left: 10rem;
  padding-right: 10rem;

  @include responsive(tab-land) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include responsive(phone) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.u-scroll-disabled {
  overflow: hidden;
}
