@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.guests {
  &__card {
    @include display-flex(space-between);
    width: 100%;
    border-radius: 0.5rem;
    border-top: 2px solid $color-white;
    background-color: $color-gray-disabled;
    min-height: 7.1rem;
    margin-top: rem;
  }

  &__text-title {
    font-weight: 600;
    font-size: $font-size-13;
    margin-bottom: 0.4rem;
    color: $color-gray;

    span {
      font-weight: 400;
    }
  }

  &__text-subtitle {
    color: $color-gray;
    font-size: 1.1rem;

    @include responsive(phone-small) {
      margin-bottom: 0.4rem;
    }
  }

  &__counter {
    @include display-flex();
    gap: 2.2rem;
  }

  &__count {
    font-size: $font-size-13;
    font-weight: 600;
    width: 1rem;
  }

  &__button-submit-container {
    margin-top: 2rem;
    text-align: end;
    margin-right: 0;
  }

  &__button-submit {
    @include button-accordion();
  }
}

button.guests__button {
  font-size: $font-size-16;
  background-color: $color-beige-light;
  color: $color-white;
  padding: 0.4rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: darken($color-beige-light, 15%);
  }
}
